* {
    box-sizing: border-box;
    margin: 0;

}

.wrapper {
    height: 960px;
    width: 1704px;
    margin: auto;
    box-shadow: 1px 1px 5px #000;
}

h1,
p,
#results {
    text-align: center;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    background: #f9ee88;
}

#canvas {
    position: absolute;
    margin: 0;
    width: 350px;
    height: 274px;
    top: 650px;
    bottom: 0;
    left: 30%;
    right: 0;
}

.hero-bkg-animated {
    background: url(../imgs/park.jpg) repeat 0 0;
    height: 960px;
    width: 1704px;
    background-size: cover;
    -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1000px 0;
    }
}
