* {
    box-sizing: border-box;
    margin: 0;

}

.wrapper {
    height: 480px;
    width: 852px;
    margin: auto;
    box-shadow: 1px 1px 5px #000;
}

h1,
p,
#results {
    text-align: center;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    background: #f9ee88;
}

#canvas {
    /*    position: absolute;*/
    margin: auto;
    width: 600px;
    height: 548px;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
}

.hero-bkg-animated {
    background: url(../imgs/park.jpg) repeat 0 0;
    height: 480px;
    width: 852px;
    -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -800px 0;
    }
}
